.VerticalPost {
  @apply w-full border mb-10 pb-10;
  .ImgLink {
    @apply inline-block mb-4;
    .Img {
      @apply inline-block ;
    }
  }
  .Info {
    @apply px-4;

    .Event_Date {
      @apply flex items-center gap-2 font-Inter opacity-60 text-sm;
      .dateIcon {
        @apply max-w-[23px];
      }
    }

    .Title {
      @apply font-Georgia text-2xl font-bold mb-4;
    }
    .Description {
      @apply font-Inter;
    }
  }
}
