.PostPage {
  @apply w-[50%] mx-auto my-32 font-Inter;
  .Title {
    @apply text-center text-6xl;
  }
  .Description {
    @apply text-BasicTextColor text-center max-w-[350px] mx-auto mb-10;
  }
  .Published_Date{
    @apply font-Inter text-sm text-center mb-32 opacity-50
  }
  .Cover_Img {
    @apply w-full mb-10;
  }
}
