$text_color: #5A5A5A;
$heading_color: #121212;

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
  }
  *:focus {
    outline: 2px dashed var(--accent-color-green);
    outline-offset: 2px;
  }
  *,
  ::after,
  ::before{
    box-sizing: inherit;
  }
  body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 19px;
    background-color: #fff;
    color: var(--text-color);
    overflow-x: hidden;
  }

.site-container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}